template< size_t L, size_t T, size_t Dirac, size_t Colour >
void Core::Propagator< L, T, Dirac, Colour >::destroy()
{  
  *d_references -= 1;
  if (*d_references == 0)
  {
    delete d_references;
    delete [] d_components;
    delete [] colour_strides;
    delete [] dirac_strides;
  }
}
