template< size_t L, size_t T >
void Core::Propagator< L, T >::destroy()
{
  *d_references -= 1;
  if (*d_references == 0)
  {
    delete d_references;
    for (size_t idx = 0; idx < 12; ++idx)
      delete d_components[idx];
    delete[] d_components;
  }
}
