/* Publicly accessible static singleton creation function */

#include <mpi.h>
#include <cstdlib>

namespace Core
{
  template< size_t L, size_t T >
  typename Core::Grid< L, T > &Grid< L, T >::instance()
  {
    if (!s_grid)
    {
      if (!MPI::Is_initialized() || MPI::Is_finalized())
        exit(1);
      s_grid = new Grid< L, T >();
    }
    return *s_grid;
  }
}
