template< typename Element >
void Tool::ScidacChecksum::calculate(Core::Field< Element > const &field)
{
  clear();
  for (size_t rank = 0; rank <= field.size(); ++rank)
    aggregate(&field[rank], 1, rank);
  // Need to add some gathering routine here for MPI (should be global XOR, need to fix global rank calculation
}
