template< typename Element >
void Tool::randomize(Core::Field< Element > *field)
{
  field->isolate();
  for (typename Core::Field< Element >::iterator iter = field->begin(); iter != field->end(); ++iter)
    iter->setToRandom();
}
