template< size_t T >
void Core::TMatrix< T >::isolate()
{
  if (*d_references == 1)
    return;

  *d_references -= 1;
  d_references = new size_t(1);

  QCD::Tensor *transfer = new QCD::Tensor[T];
  std::copy(d_transfer, d_transfer + T, transfer);
  d_transfer = transfer;
}
