template< size_t L, size_t T >
std::complex< double > Tool::temporalPlaquette(Core::Field< QCD::Gauge, L, T > &field)
{
  std::complex< double > res = tr(Path::square(field, Base::idx_X, Base::dir_UP, Base::idx_T, Base::dir_UP));
  res += tr(Path::square(field, Base::idx_Y, Base::dir_UP, Base::idx_T, Base::dir_UP));
  res += tr(Path::square(field, Base::idx_Z, Base::dir_UP, Base::idx_T, Base::dir_UP));
  return (res / 3.0);
}
