template< typename Element >
void Core::Field< Element >::destroy()
{
  (*d_references) -= 1;
  if ((*d_references) == 0)
  {
    delete   d_references;
    delete[] d_field;
    delete[] d_offsets;
  }
  d_weave.barrier();
}
