namespace Core
{
  template< typename Element >
  Field< Element > &Field< Element >::shift(Base::SpaceTimeIndex const idx, Base::Direction const dir)
  {
    isolate();
    d_weave.fieldShift(idx, dir, d_field, d_offsets);

    // Now all we need to do is shift the offset to reflect the new situation (see documentation)
    d_offsets[idx] += d_weave.localSize(idx) - dir;
    d_offsets[idx] %= d_weave.localSize(idx);
    return *this;
  }
}
