template< typename Element >
Core::Field< Element >::Field(Field< Element > const &other)
: d_references(other.d_references),
  d_weave(other.d_weave),
  d_field(other.d_field),
  d_offsets(other.d_offsets)
{
  (*d_references) += 1;
}
