template< typename Element >
Core::Field< Element > &Core::Field< Element >::operator=(Core::Field< Element > const &other)
{
  if (d_references == other.d_references)
    return *this;

  destroy();
  d_weave = other.d_weave;
  d_references = other.d_references;
  *d_references += 1;
  d_field = other.d_field;
  d_offsets = other.d_offsets;

  d_weave.barrier();
  return *this;
}
