template< typename Element, size_t L, size_t T >
void Base::ScidacChecksum::calculate(Core::Field< Element, L, T > const &field)
{
  clear();
  for (size_t rank = 0; rank <= field.size(); ++rank)
    aggregate(&field[rank], 1, rank);
  // Need to add some gathering routine here for MPI (should be global XOR, need to fix global rank calculation
}
