namespace IO
{
  namespace ILDG
  {
    template< typename DataType >
    inline void Generic::read(DataType *buffer, uint64_t const elements) const
    {
      if (d_reader->currentRecord() != d_dataRecord)
        d_reader->retrieveRecord(d_dataRecord);
      d_reader->read(buffer, elements);
    }
  }
}
