namespace Smear
{
  void Fuzz::smear(Core::Field< QCD::Gauge  > *field) const
  {
    if (d_length <= 1) // Or we'll be making 3 pointless copies...
      return;

    accumDirection(field, Base::idx_X);
    accumDirection(field, Base::idx_Y);
    accumDirection(field, Base::idx_Z);
  }
}
