namespace Smearing
{
  template< size_t L, size_t T >
  void Fuzz::accumDirection(Core::Field< QCD::Gauge, L, T > &field, short idx) const
  {
    Fields::GaugeField shifter(field);
    for (size_t ctr = 1; ctr < d_length; ++ctr)
    {
      shifter.shift(idx, dir_UP);
      field.component(idx).rightMultiply(shifter.component(idx));
    }
  }
}
