namespace Smear
{
  void Fuzz::accumDirection(Core::Field< QCD::Gauge> *field, Base::SpaceTimeIndex idx) const
  {
    size_t const L = field.L();
    size_t const T = field.T();
		    

    Core::Field< QCD::Gauge, L, T > shifter(*field);
    Core::Component< QCD::Gauge, L, T, SU3::Matrix > shiftComponent(shifter, idx);
    Core::Component< QCD::Gauge, L, T, SU3::Matrix > fieldComponent(*field, idx);
    for (size_t ctr = 1; ctr < d_length; ++ctr)
    {
      shifter.shift(idx, Base::dir_UP);
      fieldComponent.rightMultiply(shiftComponent);
    }
  }
}
