namespace Core
{
  template< size_t L, size_t T >
  void Core::Grid< L, T >::initContiguousBlock()
  {
    size_t cutIdx = 0;
    for (; cutIdx < 4; ++cutIdx)
      if (d_dims[cutIdx] > 1)
        break;
    d_contiguousBlock = dimSize(cutIdx+1);
  }
}
