namespace Core
{
  template< size_t L, size_t T >
  size_t Grid< L, T >::rank(size_t index) const
  {
    int coord[4];
    coord[idx_X] = (index %  L         ) / size(idx_X);
    coord[idx_Y] = (index % (L * L)    ) / (L * size(idx_Y));
    coord[idx_Z] = (index % (L * L * L)) / (L * L *s ize(idx_Z));
    coord[idx_T] =  index                / (L * L * L * size(idx_T));
    return rank(coord);
  }
}
