template< size_t L, size_t T >
Core::TMatrix< L, T > &Core::TMatrix< L, T >::operator=(Core::TMatrix< L, T > const &other)
{
  if (d_transfer != other.d_transfer)
  {
    destroy();
    d_transfer = other.d_transfer;
    d_references = other.d_references;
    *d_references += d_references;
  }
  return *this;
}
