template< size_t L, size_t T >
Source::Stochastic< L, T >::Stochastic()
{
  Base::Weave< L, T > myWeave(Base::Weave< L, T >::instance());
  d_source = new SU3::Vector[myWeave.localSpatialVolume()];
  Base::Random::setZ2Scale(1 / std::sqrt(2.0));
  double *srcPtr = reinterpret_cast< double* >(d_source);
  for(size_t iter = 0; iter < 6 * myWeave.localSpatialVolume(); ++iter)
    *(srcPtr + iter) = Base::Random::Z2();
}
