/* Publicly accessible static singleton creation function */

namespace Base
{
  template< size_t L, size_t T >
  Weave< L, T> &Weave< L, T >::instance()
  {
    if (!s_Weave)
      s_Weave = new Weave< L, T>();
    return *s_Weave;
  }
}
