namespace Smear
{
  template< size_t L, size_t T >
  inline void HYP::smear(Core::Field< QCD::Gauge, L, T > &field, size_t iterations) const
  {
    for (size_t ctr = 0; ctr < iterations; ++ctr)
      smear(field);
  }
}
