template< typename Element, size_t L, size_t T >
Core::Field< Element, L, T > &Core::Field< Element, L, T >::operator=(Core::Field< Element, L, T > const &other)
{
  if (d_references == other.d_references)
    return *this;

  destroy();
  d_references = other.d_references;
  *d_references += 1;
  d_field = other.d_field;
  d_offsets = other.d_offsets;
  return *this;
}
