template< typename Element >
void Core::Field< Element >::isolate()
{
  if ((*d_references) == 1)
    return;
  (*d_references) -= 1;
  d_references = new size_t(1);
  Element *field = new Element[d_weave.localVolume()];
  std::copy(d_field, d_field + d_weave.localVolume(), field);
  d_field = field;
  size_t *offsets = new size_t[4];
  std::copy(d_offsets, d_offsets + 4, offsets);
  d_offsets = offsets;
  d_weave.barrier();
}
