template< typename Element >
Core::Field< Element >::Field(hcField< Element > const &other)
: d_references(new size_t(1)),
  d_weave(other.d_parent.d_weave),
  d_field(new Element[d_weave.localVolume()]),
  d_offsets(new size_t[4])
{
  std::copy(other.d_parent.d_offsets, other.d_parent.d_offsets + 4, d_offsets);
  for (size_t ctr = 0; ctr < d_weave.localVolume(); ++ctr)
    d_field[ctr] = other.d_field[ctr].dagger();
}
