template< typename Element >
size_t Tool::ScidacChecksum::blockAggregate(Element const *data, Element const *finish, size_t blockSize, size_t rank)
{
  for(Element const *iter = data; iter != finish; iter += blockSize, ++rank)
  {
    uint32_t crcSum = crc32(iter, blockSize);
    d_sum.as32[0] ^= crcSum << (rank % 29) | crcSum >> (32 - (rank % 29));
    d_sum.as32[1] ^= crcSum << (rank % 31) | crcSum >> (32 - (rank % 31));
  }
  return rank;
}
