template< size_t L, size_t T >
Core::Correlator< L, T >::Correlator(std::complex< double > const &value)
  : d_references(new size_t(1))
{
  Base::Weave< L, T > &weave = Base::Weave< L, T >::instance();
  d_data = new std::complex< double >[T / weave.dim(Base::idx_T)];
  std::fill_n(d_data, T / weave.dim(Base::idx_T), value);
}
