#include "Correlator.ih"

template< typename Datatype >
void Correlator< Datatype >::deleteField()
{
  isolate();
  d_weave->barrier();
  if (d_data != NULL)
  {
    delete d_data;
    d_data = NULL;
  }
}
