template< typename Datatype >
Correlator< Datatype >::Correlator(size_t const L, size_t const T)
  : d_T(T), d_L(L),
    d_weave(new Base::Weave(L,T)), d_data(new Field< Datatype >(L,T)),
    d_sumTimeslice(new Datatype[T]), d_sumTimeslice_global(new Datatype[T]),
    d_references(new size_t(1)), d_offset(0)
{}


